# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rust
/target/

# Python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.social-dive/
